<div class="button-cont">
    <md-button class="md-raised md-primary" ng-click="$ctrl.drawCards()">Draw cards</md-button>
    <md-button class="md-raised md-primary" ng-if="!$ctrl.deckOfCards.length" ng-click="$ctrl.reset()">Reset</md-button>
</div>


<div>
    <div class="stack" ng-if="!$ctrl.showCards" ng-click="$ctrl.showDeck()">
        <div class="card card1 animate-cards"></div>
        <div class="card card2 animate-cards"></div>
        <div class="card card3 animate-cards"></div>
    </div>
    <div ng-if="$ctrl.showCards">
        <div>
            <div class="card-label" ng-if="$ctrl.filteredCards.length">
                <span>Selected Cards: </span>
            </div>
            <div class="main-container">
                <card ng-repeat="card in $ctrl.filteredCards track by $index"
                    value="card.value"
                    suit="card.suit"
                ></card>
            </div>
        </div>
    
        <div>
            <div class="card-label">
                <span>Stack</span>
            </div>
            <div class="main-container">
                <card class="animate-deck-cards" ng-repeat="card in $ctrl.deckOfCards track by $index"
                    value="card.value"
                    suit="card.suit"
                ></card>
            </div>
        </div>
        
    </div>
</div>