.main-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

card {
    margin: 5px;
}

.button-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.card-label {
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background: antiquewhite;
}

.card1 {
    transform: rotateZ(-2deg);
}

.card2 {
    transform: rotateZ(-8deg);
}

.card3 {
    transform: rotateZ(-14deg);
}

.card1,
.card3,
.card2 {
    background: #34568B;
    position: absolute;
}

.stack {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    cursor: pointer;
}

.animate-cards {
    animation: animateBottomToTop 3s;
}

@keyframes animateBottomToTop{
    from {top: 200px; background-color: white;}
    to {top: 0px; background-color: #34568B;}
}

/* .animate-deck-cards {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {background-color:white; left:0px; top:0px;}
    25%  {background-color:white; left:300px; top:0px;}
    50%  {background-color:white; left:300px; top:300px;}
    75%  {background-color:white; left:0px; top:300px;}
    100% {background-color:white; left:0px; top:0px;}
} */