.card {
    /* background: lightgrey; */
    height: 200px;
    width: 125px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 3px 3px 4px 2px #ccc;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 12px;
    background-image: url('https://www.thatsoftwaredude.com/images/post/0f631eeb-6c4a-4bfd-9f86-e0a08ae8584b.png');
}

.diamonds {
    background-position-y: 100px;
    background-position-x: 4px;
}

.hearts {
    background-position-x: 97px;
    background-position-y: 3px;
}

.clubs {
	background-position-x:98px;
	background-position-y:100px;
}

.spades {
    background-position-x: 10px;
}